<!DOCTYPE html>
<html>
  <head>
    <title>LVTN</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/fav.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css" rel="stylesheet">

  
  </head>
  <body class="is-preload">
    <!-- Wrapper-->
    <div id="wrapper">
      <!-- Nav -->
      <nav id="nav">
        <a href="#" class="icon solid fa-home"><span>Home</span></a>
        <a href="#work" class="icon solid fa-pen"><span>TextGen</span></a>
        <a href="#contact" class="icon solid fa-eye"
          ><span>Model</span></a
        >
        <a
          href="https://drive.google.com/file/d/1HyCPqUXf5bi9Ior59-ulqxqCO8vmAqdB/view?usp=sharing"
          class="icon solid fa-book"
          ><span>Report</span></a
        >
      </nav>

      <!-- Main -->
      <div id="overlay" onclick="closeAllDrawers()"></div>

      <div id="main">
        <!-- Me -->
        <article id="home" class="panel intro">
          <header>
            <h1>Bùi Quốc Khánh</h1>
            <p>Khoa điện - điện tử</p>
            <p>Điểu khiển & Tự động hoá</p>
          </header>
          <a href="#work" class="jumplink pic">
            <span class="arrow icon solid fa-chevron-right"
              ><span>See my work</span></span
            >
            <img src="{{ url_for('static', filename='images/me.jpg') }}" alt="" />
          </a>
        </article>

        <!-- Work -->
        <article id="work" class="panel work">
          <header>

            <h2 class="text-center">TextGen</h2>
            <button onclick="openDrawer()">☰</button>
          
          </header>

          <section>
            <div class="row">
              <div class="col-4">
                <label for="images" class="drop-container" id="dropcontainer">
                  <div class="content-photo">
                    <p class="img-photo">
                      <img src="static/images/001-photo.png" alt="" />
                    </p>
                    <span class="drop-title"
                      >Drop files here or select files</span
                    >

                    <input type="file" id="images" accept="image/*" required />
                  </div>
                </label>
                <div class="row">
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImage(this)"
                      ><img  src="static/images/bar.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImage(this)"
                      ><img  src="static/images/brick.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImage(this)"
                      ><img  src="static/images/container_blue.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImage(this)"
                      ><img  src="static/images/goldBar.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImage(this)"
                      ><img  src="static/images/wall.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                    class="image fit image-select"
                    onclick="selectImage(this)"
                    ><img  src="static/images/box.jpg" alt=""
                    /></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <!-- Button to open the sidebar -->

                    <!-- The sidebar (drawer) -->
                    <div id="myDrawer" class="drawer">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeDrawer()">×</a>
                      <!-- Content inside drawer -->
                      <h2>Setting for TextGen:</h2>
  
                      <h5>Number of Characters:</h5>
                        <div id="word_length_slider" style="margin: 20px;"></div>
                      <h5>Font Size:</h5>
                        <div id="font_size_slider" style="margin: 20px;"></div>
                      <h5>Angle:</h5>
                        <div id="angle_slider" style="margin: 20px;"></div>
                      <h5>Number of Words Max:</h5>
                        <div id="word_count_slider" style="margin: 20px;"></div>
                    
                      <h5>Color of Text:</h5>
                        <input type="color" id="colorPicker" title="Choose your color">
                    
                    </div>

                  </div>
                  <div class="col-12">
                    <button class="btn-next" onclick="processImage()">Generate Text</button>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <a class="image fit image-select" "
                  ><img class="image-2" src="static/images/pic05.jpg" alt=""
                />  </a>
                <div class="row">
                  <div class="col-12">
                    <button class="btn-submit" onclick="drawLabel()">Draw Label</button>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <a class="image fit"
                  ><img class="image-3" src="static/images/pic05.jpg" alt=""
                /></a>
              </div>
            </div>
          </section>
        </article>
      


        <!-- Model -->
        <article id="contact" class="panel contact" style="width:'1111px !important' ">
          <header>
            <h2 class="text-center">Model</h2>
            <button onclick="openModelDrawer()">☰</button>

          </header>
          <!-- The model drawer (sidebar) -->

          <div id="myModelDrawer" class="drawer">
            <a href="javascript:void(0)" class="closebtn" onclick="closeModelDrawer()">×</a>
            <h2>Model Config:</h2>
            <p class="offcanvas-body">
              <label for="model_type">Choose a model:</label>
              <form  id="model_type_form">

              <select name="model_type" id="model_type" onchange="handleModelTypeChange(this.value)">
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l">L</option>
              </select>
              </form>
              <label for="confidence-threshold">Confidence Threshold:</label>
              <br>
              <input type="range" id="confidence-threshold" name="confidence_threshold" min="0" max="1" step="0.01" value="0.2" oninput="updateThresholdValue(this.value)">
              <span id="threshold-value">0.2</span>

            </p>
          </div>
          
          <section>
            <div class="row"  >
              <div class="col-6" >

                <label for="imagesModel" class="drop-container" id="dropcontainerModel">
                  <div class="content-photo-model">
                    <p class="img-photo">
                      <img src="static/images/001-photo.png"  alt="" />
                    </p>
                    <span class="drop-title"
                      >Drop files here or select files</span
                    >

                    <input type="file" id="imagesModel" accept="image/*" required />
                  </div>
                </label>
                <div class="row" >
                  <div class="col-2" >
                    <a
                      class="image fit image-select"
                      onclick="selectImageModel(this)"
                      ><img  src="static/images/img_423.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImageModel(this)"
                      ><img  src="static/images/img_424.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImageModel(this)"
                      ><img  src="static/images/img_435.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImageModel(this)"
                      ><img  src="static/images/img_453.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                      class="image fit image-select"
                      onclick="selectImageModel(this)"
                      ><img  src="static/images/img_984.jpg" alt=""
                    /></a>
                  </div>
                  <div class="col-2">
                    <a
                    class="image fit image-select"
                    onclick="selectImageModel(this)"
                    ><img  src="static/images/img_987.jpg" alt=""
                    /></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn-next" id="btn-next-model" onclick="processImageModel(); return False;">Predict</button>
                  </div>
                </div>
              </div>
              <div class="col-6" >
                <a style="position: relative;" class="image fit image-select" 
                  ><img class="image-4" src="static/images/pic05.jpg" alt=""
                />  <div class="loading"></div></a>
                
              </div>
            </div>
           
          </section>
        </article>
      </div>

      <!-- Footer -->
      <div id="footer">
        <ul class="copyright">
          <li>Bùi Quốc Khánh</li>
          <li><a>2010325</a></li>
        </ul>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
